<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://use.fontawesome.com/cae477a4fe.js"></script>
</head>
<body>

  <div id="chatRoom">
    <h1>Real Time Messaging</h1>
    <ul id="messages"></ul>
    <div id="sendBox">
      <input type="text" id="messageBox" placeholder="Type your message here" />
      <button id="send" title="Send Message!">Send Message <i class="fa fa-paper-plane" aria-hidden="true"></i> </button>
    </div>
    
  </div>

    

<script src="./scripts/index.js"></script>

</body>
</html>